// you can change colors here
$theme-color: #e66aac;

$card-shadow: #3bb5ad;
$box-shadow: #279c3d;
$border-color: (
    light: #f8f88b,
    dark: #09103e,
  );
$text-color: (
    light: #070202,
    dark: #f3ffba,
    );
$border-color: (
  light: #f8f88b,
  dark: #09103e,
);
$bg-color: (
    light: #f3fcf3,
    dark: #09103e,
  );